In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from matplotlib import pyplot as plt  

# To write a Python 2/3 compatible codebase, the first step is to add this line to the top of each module
from __future__ import division, print_function, unicode_literals

In [6]:
kick = pd.read_csv("C:/Users/mayaa/OneDrive/Documents/project_BA/Kickstarter-Project-/kick.csv")

In [8]:
kick.head()

,ID,name,category,main_category,goal,pledged,state,backers,usd_pledged_real,usd_goal_real,deadline_date,launched_date,diff_days,recoded_target
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,1000.00000,0.00000,failed,0,0.00000,1579.96850,2015-10-09,2015-08-11,59 days 00:00:00.000000000,0
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,30000.00000,2421.00000,failed,15,2493.63000,30900.00000,2017-11-01,2017-09-02,60 days 00:00:00.000000000,0
2,1000004038,Where is Hank?,Narrative Film,Film & Video,45000.00000,220.00000,failed,3,226.60000,46350.00000,2013-02-26,2013-01-12,45 days 00:00:00.000000000,0
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,5000.00000,1.00000,failed,1,1.03000,5150.00000,2012-04-16,2012-03-17,30 days 00:00:00.000000000,0
4,1000014025,Monarch Espresso Bar,Restaurants,Food,50000.00000,52375.00000,successful,224,53946.25000,51500.00000,2016-04-01,2016-02-26,35 days 00:00:00.000000000,1

## k-NN model