In [1]:
# To write a Python 2/3 compatible codebase, the first step is to add this line to the top of each module
from __future__ import division, print_function, unicode_literals

import pandas as pd 
import numpy as np 
import seaborn as sns 
from matplotlib import pyplot as plt  

#loading the data 
kick = pd.read_csv("C:/Users/mayaa/OneDrive/Documents/project_BA/Kickstarter-Project-/kick.csv")

In [2]:
#setting the x variables and the target

# Retrieve features/attributes of dataset
X = kick.iloc[:, np.r_[2,4,5,8,9,10]]

# Retrieve target variable of dataset
y = kick.iloc[:,11]

In [21]:
kick3 = kick.sample(n=20000, axis = 0)

In [31]:
kick3.head()
y1 = kick3.iloc[:,11]

In [47]:
#seeing the balance of the dataset 
#class 0 -> 11,887 class 1 -> 8113 
#seems pretty balanced 
print('Labels counts in y:', np.bincount(y1))

Labels counts in y: [11887  8113]

In [25]:
print('Labels counts in y:', np.bincount(y1))
#saving it to a dataset so we have a random sample that doesn't change 
kick3.to_csv('C:/Users/mayaa/OneDrive/Documents/project_BA/Kickstarter-Project-/kick20k.csv', index = None)

Labels counts in y: [11887  8113]

In [36]:
#reading in that new dataset that we used 
kick = pd.read_csv("C:/Users/mayaa/OneDrive/Documents/project_BA/Kickstarter-Project-/kick20k.csv")

In [42]:
kick4 = kick.sample(n=10000, axis = 0)

In [44]:
kick4.head()

,main_category,state,backers,country,usd_pledged_real,usd_goal_real,deadline_date,launched_date,diff_days,country_recoded,main_category_recoded,recoded_target
19063,Art,failed,1,GB,1.55,527.57,2015-08-07,2015-07-02,36,9,0,0
13531,Technology,failed,10,US,532.00,2000.00,2015-02-20,2015-01-21,30,22,13,0
3416,Film & Video,successful,52,US,5250.00,5200.00,2014-08-19,2014-07-17,33,22,6,1
7212,Fashion,failed,115,US,11634.00,40000.00,2016-03-21,2016-02-17,33,22,5,0
13579,Food,successful,55,US,17000.00,10000.00,2017-08-22,2017-08-15,7,22,7,1

In [51]:
y2 = kick4.iloc[:,11]
print('Labels counts in y:', np.bincount(y2)) 

kick4.to_csv('C:/Users/mayaa/OneDrive/Documents/project_BA/Kickstarter-Project-/kick10k.csv', index = None)

Labels counts in y: [5960 4040]

In [53]:
#X values for kick 4
X_k4 = kick4.iloc[:, np.r_[2,4,5,8,9,10]]

# Retrieve target variable of dataset
y_k4 = kick4.iloc[:,11]